.example-chip-list {
  width: 100%;
}

.item-page-btn-container {
  display: flex;
  justify-content: center;
}

.edit-live-post-main-container {
  padding: 50px 50px;
  background-image: url(../../assets/pictures/bggGif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.description-textarea {
  resize: none;
}

.page-item-title {
  min-width: 350px;
  margin: 0px 10px;
}

.page-header {
  width: 100%;
  padding: 25px;
  background: url(../../assets/pictures/titleGif.gif);
  font-size: 70px;
  font-weight: 700;
  height: 75px;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px 0 20px 0;
}

.btn-danger {
  background-color: #fa7474;
  color: black;
}

.item-page-btn {
  width: 160px;
  border-radius: 20px;
  margin-right: 10px;
}

.item-page-btn:first-child {
  margin-right: 50px;
}

.item-page-btn:last-child {
  margin-right: 0px;
}

#submit-btn {
  background-color: #29ff30;
  color: black;
}

@media (max-width: 900px) {
  .item-page-btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .item-page-btn {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 10px;
  }

  .item-page-btn:first-child {
    margin-right: 0px;
  }

  .item-page-btn:last-child {
    margin-bottom: 0px;
  }

  .page-header {
    font-size: 40px;
  }

  .cards-container {
    flex-direction: column;
    padding: 0 40px;
  }
}