<div class="main-container">
  <div class="header">Add Post</div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">sp_id</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="sp_id"
    />
    <label for="exampleFormControlInput1" class="form-label">pid</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="pid"
    />
    <label for="exampleFormControlInput1" class="form-label">status</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="status"
    />
    <label for="exampleFormControlInput1" class="form-label">title</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="title"
    />
    <label for="exampleFormControlInput1" class="form-label">gen title</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="gen title"
    />
    <label for="exampleFormControlInput1" class="form-label">categories</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="categories"
    />
    <label for="exampleFormControlInput1" class="form-label"
      >gen_categories</label
    >
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="gen_categories"
    />
    <label for="exampleFormControlInput1" class="form-label">start date</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="start date"
    />
    <label for="exampleFormControlInput1" class="form-label"
      >gen start date</label
    >
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="gen start date"
    />
    <label for="exampleFormControlInput1" class="form-label">end date</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="end date"
    />
    <label for="exampleFormControlInput1" class="form-label"
      >gen end date</label
    >
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="gen end date"
    />
    <label for="exampleFormControlInput1" class="form-label">tags</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="tags"
    />
    <label for="exampleFormControlInput1" class="form-label">gen tags</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="gen tags"
    />
    <label for="exampleFormControlInput1" class="form-label">content</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="content"
    />
    <label for="exampleFormControlInput1" class="form-label">content</label>
    <input
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="content"
    />
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile" />
  </div>
  <div class="options-container">
    <button type="button" class="btn btn-danger clear">Clear all fields</button>
    <button type="button" class="btn btn-primary upload-field">Upload</button>
  </div>
</div>
