<div class="main-container">
  <div class="header">Add Post</div>
  <div class="addForm">
    <form [formGroup]="postForm">

      <!-- <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">sp_id</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="sp_id" />
      </div>

      <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">pid</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="pid" />
      </div> -->
      <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">status (pending/live)</label>
        <select class="form-control" id="exampleFormControlInput1" formControlName="status">
          <option>pending</option>
          <option>live</option>
        </select>
      </div>
      <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">title</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="title" />
      </div>
      <!-- <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">gen title</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="genTitle" />
      </div> -->
      <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">categories</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="categories" />
      </div>
      <!-- <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">gen_categories</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="genCategories" />
      </div> -->
      <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">start date</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="startDate" />
      </div>
      <!-- <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">gen start date</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="genStartDate" />
      </div> -->
      <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">end date</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="endDate" />
      </div>
      <!-- <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">gen end date</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="genEndDate" />
      </div> -->
      <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">tags</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="tags" />
      </div>
      <!-- <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">gen tags</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="genTags" />
      </div> -->
      <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">content</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="content" />
      </div>
      <!-- <div class="eachForm">
        <label for="exampleFormControlInput1" class="form-label">gen content</label>
        <input class="form-control" id="exampleFormControlInput1" formControlName="genContent" />
      </div> -->
      <div class="eachForm">
        <label for="formFile" class="form-label">Default file input</label>
        <input class="form-control" type="file" id="formFile" (change)="uploadFile($event)" />
      </div>
    </form>


  </div>
  <div class="options-container">
    <button type="button" class="btn btn-danger clear">Clear all fields</button>
    <button type="button" class="btn btn-primary upload-field" (click)="submitForm()">
      Upload
    </button>
  </div>
</div>