<div class="main-container">
  <div class="header">Add Post</div>
  <div class="mb-3">
    <form [formGroup]="postForm">
      <label for="exampleFormControlInput1" class="form-label">sp_id</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="sp_id"
        formControlName="sp_id"
      />
      <label for="exampleFormControlInput1" class="form-label">pid</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="pid"
        formControlName="pid"
      />
      <label for="exampleFormControlInput1" class="form-label">status</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="status"
        formControlName="status"
      />
      <label for="exampleFormControlInput1" class="form-label">title</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="title"
        formControlName="title"
      />
      <label for="exampleFormControlInput1" class="form-label">gen title</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="gen title"
        formControlName="genTitle"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >categories</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="categories"
        formControlName="categories"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >gen_categories</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="gen_categories"
        formControlName="genCategories"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >start date</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="start date"
        formControlName="startDate"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >gen start date</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="gen start date"
        formControlName="genStartDate"
      />
      <label for="exampleFormControlInput1" class="form-label">end date</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="end date"
        formControlName="endDate"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >gen end date</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="gen end date"
        formControlName="genEndDate"
      />
      <label for="exampleFormControlInput1" class="form-label">tags</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="tags"
        formControlName="tags"
      />
      <label for="exampleFormControlInput1" class="form-label">gen tags</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="gen tags"
        formControlName="genTags"
      />
      <label for="exampleFormControlInput1" class="form-label">content</label>
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="content"
        formControlName="content"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >gen content</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="gen content"
        formControlName="genContent"
      />
    </form>
    <label for="formFile" class="form-label">Default file input example</label>
    <input
      class="form-control"
      type="file"
      id="formFile"
      (change)="uploadFile($event)"
    />
  </div>
  <div class="options-container">
    <button type="button" class="btn btn-danger clear">Clear all fields</button>
    <button
      type="button"
      class="btn btn-primary upload-field"
      (click)="submitForm()"
    >
      Upload
    </button>
  </div>
</div>
