<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Monster x AI AI-powered webtool, <%= @user.name %></h1>
    <p>
      Thanks for registering! To confirm your registration click the URL below.
      <%= confirm_email_user_url(@user.confirm_token) %>
    </p>
    <p>
      To login to the site, just follow this link: <a href="https://deployed-frontend-url.com">Monstyr X AI</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>