@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 86, 86, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 86, 86, 0.7);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 86, 86, 0.7);
	}
}

.invalid {
  transform:scale(1);
  animation:pulse 1s 3;
}

.main-dev-container {
  background-color: rgb(255, 248, 239);
  height: 100%;
}

.sub-dev-container {
  height: 100%;
  overflow-y: auto;
}

.dev-page-header {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  color: rgb(49, 14, 82);
}

.progress-bar-container {
  width: 100%;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.loading-spinner{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-nav-bar {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-btn {
  text-align: center;
  padding: 30px 10px;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 400;
  border-radius: 20px;
  margin: 10px;
}

.nav-bar-btn:hover {
  background-color: rgba(197, 197, 197, 0.534);
}

.selecting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  height: 300px;
}




.selector-btn {
  border: none;
  width: 300px;
  background-color: white;
  color: purple;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
}

.selector-btn {
  margin-top: 20px;
}


.back-btn {
  display: inline-block;
  border: none;
  color: purple;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 50px;
}

.current-selector {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: width 2s, height 4s;
}

.page-header {
  padding: 30px 50px;
  font-size: 30px;
}

.search-bar {
  margin: 30px 20px;
  border-radius: 17px;
  border: 1px solid black;
  min-width: 200px;
  height: 34px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.search-input {
  resize: none;
  border: none;
  height: 30px;
  border-radius: 15px;
  box-sizing: border-box;
}

.search-btn {
  padding: 0px;
  background-color: white;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 0px 5px;
}

.filter-type:hover {
  background-color: rgba(219, 219, 219, 0.527);
}

.filter-sort {
  padding-left: 5px;
  vertical-align: center;
}

.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
}

.post-container {
  width: 1000px;
  border: 1px solid black;
  height: 200px;
  margin: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.post-container:first-child {
  margin-top: 60px;
}

.post-img {
  width: 300px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}

.post-desc {
  padding-left: 30px;
}

.ocr-page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ocr-page-original,
.ocr-page-processed {
  width: 300px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  border-radius: 15px;
  text-align: center;
  padding-top: 30px;
}

.ocr-page-details {
  width: 300px;
  height: 400px;
  background-color: rgb(212, 212, 212);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.processed-words {
  width: 100px;
  text-align: center;
  resize: none;
  display: inline-block;
  margin-top: 30px;

}

.processed-word {
  font-size: 20px;
  margin: 10px;
}

.recognition-accuracy {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.841);
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  border-radius: 10px;
  padding: 10px 15px;
}

.recognition-accuracy-indicator {
  display: flex;
  margin-top: 10px;
}

.ocr-btn {
  width: 100%;
  margin-top: auto;
}

.wrong-correct {
  width: 190px;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.title {
  font-weight: 500;
  color: rgb(85, 85, 85);
}

.wrong,
.correct,
.total {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.841);
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  border-radius: 5px;
}

.uniform {
  font-size: 20px;
  font-weight: 400;
}

.wrongword {
  color: red;
}

.correctword {
  color: green;
}

.digit {
  font-weight: 600;
  font-size: 25px;
}

.edit-ocr-details {
  width: 190px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.841);
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgb(134, 3, 73);
  border: none;
  border-radius: 10px;
}

p {
  margin: 0px;
}

#od-section-container, #ocr-section-container, #ner-section-container {
  text-align: center;
}

.banner {
  width: 600px;
  height: auto;
}

.od-page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.od-page-original,
.od-page-cropped {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  display: flex;
  justify-content: center;
  align-items: center;
}

.od-page-details {
  align-self: flex-start;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  padding: 20px;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 212, 212);
}

.od-page-details-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.object-name {
  margin-top: 10px;
  font-size: 15px;
}

.od-page-details-edit-name {
  border: none;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  color: purple;
}

.od-img-original,
.od-img-cropped {
  width: 320px;
  height: 320px;
}

.ner-page-container {
  margin-top: 50px;
  margin-bottom:50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ner-page {
  height: 400px;
}

.ner-page .title {
  font-size: 30px;
}

.ner-page-details {
  width: 300px;
  height: 260px;
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  padding: 30px;
}

.ner-page-details-display {
  background-color: white;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.ner-btn {
  width: 100%;
}

.ner-disc {
  margin-top: 10px;
  font-size: 20px;
}

.ner-sub-disc {
  margin-top: 10px;
  display: flex;
}

.ner-extracted,
.updated-ner{
  width: 350px;
  height: 600px;
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ner-extracted .title,
.updated-ner .title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  height: 100px;
  line-height: 40px;
}

.display-check {
  width: 100%;
  height: 350px;
  background-color: white;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.363);
  border-radius: 10px;
  padding: 20px;
}

.ner-btn {
  width: 100%;
  margin-top: auto
}

mat-card-title {
  font-size: 20px;
  color: rgb(129, 129, 129);
}

mat-card-subtitle {
  font-size: 25px;
}

.page-tag {
  height: 100%;
  align-items: center;
  font-size: 30px;
}