.overview-page-main-container {
  padding: 50px 80px;
  background-image: url(../../assets/pictures/bggGif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page-header {
  width: 100%;
  padding: 25px;
  background: url(../../assets/pictures/titleGif.gif);
  font-size: 70px;
  font-weight: 700;
  height: 75px;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px 0 40px 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

mat-card-title {
  font-weight: 600;
}

@media (max-width: 900px) {
  .row {
    grid-template-columns: 1fr;
  }

  .page-header {
    font-size: 40px;
  }
}