<div class="page-header">Live Posts</div>
<div style="text-align: center">
  <mat-form-field appearance="fill">
    <mat-label>Search posts by title</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      placeholder="Search posts by title"
    />
    <mat-icon
      class="search-icon"
      color="primary"
      matPrefix
      (click)="filterPosts(searchTerm)"
      >search</mat-icon
    >
  </mat-form-field>
</div>
<div class="button">
  <button
    mat-stroked-button
    color="primary"
    class="special-btn2"
    (click)="prevPage()"
    type="button"
    style="margin: 5px"
  >
    Previous Page
  </button>
  <button
    mat-stroked-button
    color="primary"
    class="special-btn2"
    (click)="nextPage()"
    type="button"
    style="margin: 5px"
  >
    Next Page
  </button>
</div>
<div class="container">
  <div class="row row-cols-4">
    <ng-container *ngFor="let product of filteredProductList; let i = index">
      <mat-card class="col" (click)="selectLivePost(i)">
        <div class="item-container fade">
          <div class="item-img">
            <img class="live-img" [src]="product.images" alt="image" />
          </div>
          <hr />
          <div class="item-details">
            <div class="item-title" id="title-field">
              Title: {{ product.title }}
            </div>
            <br />
            <div class="item-description" id="description-field">
              Description: {{ product.content }}
            </div>
            <br />
            <mat-chip-list id="category-field">
              <mat-label>Categories:</mat-label>
              <mat-chip *ngFor="let category of product.categories">{{
                category
              }}</mat-chip>
            </mat-chip-list>
            <br />
            <mat-chip-list>
              <mat-label>Tags:</mat-label>
              <mat-chip *ngFor="let tag of product.tags">{{ tag }}</mat-chip>
            </mat-chip-list>
            <br />
            <div class="item-tag">
              Promotion Start Date: {{ product.startDate }}
            </div>
            <div class="item-tag">
              Promotion End Date: {{ product.endDate }}
            </div>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
