<div class="live-post-main-container">
  <h1 class="page-header">Live Posts</h1>

  <div style="text-align: center">
    <mat-form-field appearance="fill">
      <mat-label>Search posts</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        placeholder="Search posts"
        (keyup.enter)="filterPosts(searchTerm)"
        id="search-text-box"
      />
      <mat-icon
        class="search-icon"
        color="primary"
        matPrefix
        (click)="filterPosts(searchTerm)"
        >search</mat-icon
      >
    </mat-form-field>
  </div>

  <div class="button">
    <button
      mat-stroked-button
      color="primary"
      class="special-btn2"
      (click)="prevPage()"
      type="button"
      style="margin: 5px"
    >
      Previous Page
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="special-btn2"
      (click)="nextPage()"
      type="button"
      style="margin: 5px"
    >
      Next Page
    </button>
  </div>
  <div>Showing page {{ currentPage }} of {{ maxPage }}</div>
  <div class="container">
    <div class="row row-cols-4">
      <ng-container *ngFor="let product of filteredProductList; let i = index">
        <mat-card class="col" id="live-post-item" (click)="selectLivePost(i)">
          <div class="item-container fade">
            <div class="item-img">
              <img class="live-img" [src]="product.images" alt="image" />
            </div>
            <hr />
            <div class="item-details">
              <div class="item-title" id="title-field">
                <b>Title: </b>{{ product.title }}
              </div>
              <br />
              <div class="item-description" id="description-field">
                <b>Description:</b> {{ product.content }}
              </div>
              <br />
              <mat-chip-list id="category-field">
                <mat-label><b>Categories:</b></mat-label>
                <mat-chip *ngFor="let category of product.categories">{{
                  category
                }}</mat-chip>
              </mat-chip-list>
              <br />
              <mat-chip-list>
                <mat-label><b>Tags:</b></mat-label>
                <mat-chip *ngFor="let tag of product.tags">{{ tag }}</mat-chip>
              </mat-chip-list>
              <br />
              <div class="item-tag">
                Promotion Start Date: {{ product.startDate | date: "fullDate" }}
              </div>
              <div class="item-tag">
                Promotion End Date: {{ product.endDate | date: "fullDate" }}
              </div>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
