<div class="header-row">
  <div class="page-header">Live Posts</div>
  <!-- <div class="search-bar">
    <textarea class="search-input" rows="1"></textarea>
    <button class="search-btn">F</button>
  </div> -->
</div>
<div class="button">
  <button (click)="prevPage()" type="button">Previous</button>
  <button (click)="nextPage()" type="button">Next</button>
</div>
<div class="filter-row">
  <div class="filter-type" (click)="onFilter(1)">
    <label class="filter-label">Title</label>
    <img
      src="../../assets/pictures/arrowhead.png"
      height="5px"
      width="auto"
      class="filter-sort"
    />
  </div>
  <div class="filter-type">
    <label class="filter-label">Category</label>
    <img
      src="../../assets/pictures/arrowhead.png"
      height="5px"
      width="auto"
      class="filter-sort"
    />
  </div>
  <div class="filter-type">
    <label class="filter-label">Discount</label>
    <img
      src="../../assets/pictures/arrowhead.png"
      height="5px"
      width="auto"
      class="filter-sort"
    />
  </div>
  <div class="filter-type">
    <label class="filter-label">Validity Date</label>
    <img
      src="../../assets/pictures/arrowhead.png"
      height="5px"
      width="auto"
      class="filter-sort"
    />
  </div>
</div>
<div class="container">
  <div class="row row-cols-4">
    <ng-container *ngFor="let product of liveProductList; let i = index">
      <div class="col" (click)="selectLivePost(i)">
        <div class="item-container fade">
          <div class="item-img">
            <img
              [src]="product.images"
              alt="image"
              style="
                object-fit: contain;
                width: 99%;
                height: 99%;
                border-radius: 5px;
              "
            />
          </div>
          <div class="item-details">
            <div class="item-title">Title: {{ product.title }}</div>
            <div class="item-description">
              Description: {{ product.content }}
            </div>
            <mat-chip-list>
              <mat-label>Categories:</mat-label>
              <mat-chip *ngFor="let category of product.categories">{{
                category
              }}</mat-chip>
            </mat-chip-list>
            <mat-chip-list>
              <mat-label>Tags:</mat-label>
              <mat-chip *ngFor="let tag of product.tags">{{ tag }}</mat-chip>
            </mat-chip-list>
            <div class="item-tag">Category: {{ product.categories }}</div>
            <div class="item-tag">
              Promotion Start Date: {{ product.startDate }}
            </div>
            <div class="item-tag">
              Promotion End Date: {{ product.endDate }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
