<div class="header-row carousel-fade">
  <div class="page-header">Pending Posts</div>
  <!-- <div class="search-bar">
    <textarea class="search-input" rows="1"></textarea>
    <button class="search-btn">F</button>
  </div> -->
  <div class="button">
    <button class="special-btn2" (click)="prevPage()" type="button">Previous Page</button>
    <button class='special-btn2' (click)="nextPage()" type="button">Next Page</button>
  </div>
</div>
<div class="pending-posts-container main-item-container" id="pending-post-list-container">
  <ng-container *ngFor="let product of pendingProductList; let i = index">
    <div (click)="selectPost(i)" class="pending-posts-item fade">
      <div class="pending-posts-img">
        <img [src]="product.images" alt="img" style="
            object-fit: contain;
            width: 99%;
            height: 99%;
            border-radius: 10px;
          " />
      </div>
      <div class="pending-posts-details">
        <h3>{{ product.content }}</h3>
      </div>
    </div>
  </ng-container>
</div>