<div class="main-login-container">
  <div class="main-login-header">
    <div class="h2" data-text="Monstyr X AI">Monstyr X AI</div>
  </div>
  <div class="sub-login-header">
    <p>AI-Powered Workflows</p>
  </div>
  <div class="login-form">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" placeholder="Enter email here" />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="Enter password here" />
    </div>
    <div class="col-12">
      <button type="submit" id="login-button" class="btn btn-primary" (click)="onLogin()">
        Sign in
      </button>
    </div>
    <div class="col-12 forget-password-container">
      <button type="submit" class="btn btn-primary btn-forget-password">
        Forget password
      </button>
    </div>
  </div>
</div>