<div class="main-login-container">
  <div class="main-login-header">
    <div class="h2" data-text="Monstyr X AI">Monstyr X AI</div>
  </div>
  <div class="sub-login-header">
    <div class="wrapper">

      <span style="--d: 0s">Analytics tools</span>
      <span style="--d: 2s">Posts management</span>
      <span style="--d: 4s">AI powered workflow</span>

    </div>
  </div>
  <form [formGroup]="postForm">
    <div class="formInput">
      <input id='email' type="text" required class="form-control" formControlName="email" id="loginEmail" />
      <label for="email" class="input-label">Email</label>
    </div>
    <div class="formInput">
      <input id='password' type="password" required class="form-control" formControlName="password"
        id="loginPassword" />
      <label for='password' class="input-label">Password</label>
    </div>
  </form>

  <div class="col-12">
    <button type="submit" id="login-button" class="btn btn-primary btns" (click)="onLogin()">
      Sign in
    </button>
  </div>
  <div class="createAcc">
    <button type="submit" id="login-button" class="btn btn-primary btns" (click)="onCreate()">
      Create Account
    </button>
  </div>
</div>