/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: ComicSans;
  src: url(./assets/fonts/Ldfcomicsanslight-6dZo.ttf);
  font-weight: 200;
}

@font-face {
  font-family: ComicSans;
  src: url(./assets/fonts/Ldfcomicsansbold-zgma.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
}

.main-login-container {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.imgg {
  width: 150px;
  height: 150px;
}

.main-login-header {
  font-weight: 400;
  font-size: 50px;
  padding-top: 30px;
}

.login-form {
  margin-top: 30px;
  width: 400px;
}

.form-control {
  font-weight: 200;
}

.col-12 {
  text-align: center;
  margin-top: 40px;
}

.btn-primary {
  font-weight: 200;
}

.forget-password-container {
  margin-top: 10px;
}

.btn-forget-password {
  background-color: white;
  border: none;
  color: black;
  font-size: 15px;
}

.main-container {
  margin-left: 200px;
  height: 100%;
  overflow: auto;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pending-posts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pending-posts-item {
  margin: 20px;
  height: 150px;
  width: 700px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: left;
  cursor: pointer;
}

.pending-posts-item:hover {
  box-shadow: 0 1px 10px rgb(97, 80, 80);
  width: 710px;
}

.pending-posts-item:hover:after {
  width: 100%;
}

.pending-posts-details {
  width: 700px;
  height: 150px;
  padding: 10px;
  border: 1px solid black;
}

.pending-posts-img {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid rgb(78, 75, 75);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.main-item-container {
  padding: 0px 30px;
}

.item-page-container {
  display: flex;
  padding: 50px 0px;
  flex-direction: row;
  justify-content: space-evenly;
}

.item-page-left {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 300px;
  align-items: center;
  margin-left: 30px;
}

.item-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.cv-scan {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}


.special-btn {
  align-items: center;
  align-content: center;
  height: fit-content;
  font-size: smaller;
  align-self: center;
  border-radius: 10px;
  width: fit-content;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.special-btn:after {
  position: absolute;
  background-color: rgb(105, 18, 18);
  width: 0px;
  height: 2px;
  left: 0px;
  bottom: -10px;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.special-btn:hover {
  transform: scale(1.1);
  color: rgb(105, 18, 18);
  font-weight: 500;
}

.special-btn2 {
  align-items: center;
  align-content: center;
  height: fit-content;
  font-size: large;
  font-weight: 500;
  align-self: center;
  border-radius: 10px;
  width: fit-content;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.special-btn2:after {
  position: absolute;
  background-color: rgb(105, 18, 18);
  width: 0px;
  height: 2px;
  left: 0px;
  bottom: -10px;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.special-btn2:hover {
  transform: scale(1.1);
  color: rgb(105, 18, 18);
  font-weight: bold;

}



.page-item-title {
  resize: none;
  height: 75px;
  width: 600px;
  border-radius: 15px;
  padding: 0px 10px;
  margin: 10px;
}


.page-item {
  resize: none;
  height: 100px;
  width: 600px;
  border-radius: 15px;
  padding: 0px 10px;
  margin: 10px;
}

.page-item-category {
  resize: none;
  height: 35px;
  width: 600px;
  border-radius: 15px;
  padding: 0px 10px;
  margin: 10px;
}

.page-item-date {
  resize: none;
  height: 30px;
  width: 600px;
  border-radius: 15px;
  padding: 0px 10px;
  margin: 10px;
}

.item-page-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  margin-right: 30px;
  align-items: center;
}

.imagebtn {
  margin: 10px;
}

.product-img {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
}

.page-item-description {
  width: 350px;
  height: 200px;
  border: 1px solid black;
}

.text-align {
  margin: 5px;
}

.item-page-btn-container {
  display: flex;
  justify-content: center;
}

.item-page-btn:first-child {
  margin-right: 20px;
}

.item-page-btn {
  border-radius: 30px;
}

.setting-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid black;
}

.setting-input-container {
  width: 400px;
}

.setting-page-field {
  margin-top: 30px;
}

.top-nav-bar {
  font-size: 20px;
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  margin: auto;
  flex-direction: row;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
}

.top-bar-btn {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.top-bar-btn:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 0px;
  bottom: -10px;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.top-bar-btn:hover {
  transform: scale(1);
  color: #ea1b45;
  font-size: 25px;
  font-weight: bold;
}

.top-bar-btn:hover:after {
  width: 100%;
}

.hello {
  transform: scale(1);
  color: #ea1b45;
  font-size: 18px;
  font-weight: bold;
}

.populate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload {
  position: relative;
  max-width: 450px;
  height: 450px;
  margin: auto;
  display: flex;
  overflow: visible;
  transform: scale(0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(204, 204, 204, 0.63);
  filter: drop-shadow(0px 5px 5px rgba(255, 201, 255, 0.2));
  border-radius: 100px;
}

.uploads {
  position: relative;
  padding: 0px 10px;
  font-size: 1rem;
  color: rgb(20, 11, 11);
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.uploads:after {
  content: "";
  position: absolute;
  background-color: rgb(161, 18, 18);
  width: 0px;
  height: 2px;
  left: 0px;
  bottom: -10px;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.uploads:hover:after {
  width: 100%;
}

.cloud {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 50%;
}


a {
  text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
