.example-chip-list {
  width: 100%;
}

.item-page-btn-container {
  display: flex;
  justify-content: center;
}

.edit-live-post-main-container {
  padding: 50px 50px;
}

.description-textarea {
  resize: none;
}

.page-item-title {
  min-width: 350px;
  margin: 0px 10px;
}
