.example-chip-list {
  width: 100%;
}

.item-page-btn-container {
  display: flex;
  justify-content: center;
}

.edit-live-post-main-container {
  padding: 50px 50px;
  background-image: url(../../assets/pictures/bggGif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.description-textarea {
  resize: none;
}

.page-item-title {
  min-width: 350px;
  margin: 0px 10px;
}

.btn-danger {
  background-color: #fa7474;
  color: black;
}

.item-page-btn {
  width: 160px;
  border-radius: 20px;
  margin-right: 10px;
}

.item-page-btn:first-child {
  margin-right: 50px;
}

.item-page-btn:last-child {
  margin-right: 0px;
}

mat-card {
  background-color: rgba(238, 238, 238, 0.8);
  border-radius: 10px;
  border: 1px solid rgb(155, 155, 155);
}

#submit-btn {
  background-color: #29ff30;
  color: black;
}

@media (max-width: 900px) {
  .item-page-btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .item-page-btn {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 10px;
  }

  .item-page-btn:first-child {
    margin-right: 0px;
  }

  .item-page-btn:last-child {
    margin-bottom: 0px;
  }
}