<div class="header-row">
  <div class="page-header">Item</div>
</div>
<div class="item-page-container">
  <div class="item-page-left">
    <textarea
      class="page-item"
      placeholder="Enter title here"
      rows="2"
    ></textarea>
    <textarea
      class="page-item"
      placeholder="Enter Promotion Date here"
      rows="2"
    ></textarea>
    <textarea
      class="page-item"
      placeholder="Enter Category here"
      rows="2"
    ></textarea>
  </div>
  <div class="item-page-right">
    <img alt="IMAGE" class="product-img" />
    <textarea
      class="page-item page-item-description"
      placeholder="Enter description here"
      rows="5"
    ></textarea>
  </div>
</div>
<div class="item-page-btn-container">
  <button type="button" class="btn btn-primary item-page-btn">Next Post</button>
  <button type="button" class="btn btn-primary item-page-btn">Save</button>
  <button type="button" class="btn btn-primary item-page-btn">Discard</button>
</div>
