<!-- {{pendingProduct['title']}} -->

<div class="header-row">
  <div class="page-header">Pending post item:</div>
</div>
<div class="item-page-container">
  <div class="item-page-left">
    <form [formGroup]="editForm">
      <div class="item-cont">
        <p>Title</p>
        <textarea class="page-item-title" placeholder="Enter title here" formControlName="title"
          rows="3">{{ title }}</textarea>
        <button type="button" class="special-btn" (click)="makeTitle()">
          Generate
        </button>
      </div>

      <div class="item-cont">
        <p>Description</p>
        <textarea class="page-item" placeholder="Enter your description here" formControlName="content"
          rows="5"></textarea>
        <button type="button" class="special-btn" (click)="makeDescription()">
          Generate
        </button>
      </div>

      <div class="item-cont">
        <p>Category</p>
        <textarea class="page-item-category" placeholder="Category" formControlName="categories" rows="3"></textarea>
        <button type="button" class="special-btn" (click)="makeCategory()">
          Generate
        </button>
      </div>

      <div class="item-cont">
        <p>Start Date</p>
        <textarea class="page-item-date" placeholder="Promotional Start Date" formControlName="startDate"
          rows="3"></textarea>
        <button type="button" class="special-btn" (click)="getMinOrMaxDates('min')">
          Generate
        </button>
      </div>
      <div class="item-cont">
        <p>End Date</p>
        <textarea class="page-item-date" placeholder="Promotional End Date" formControlName="endDate"
          rows="3"></textarea>
        <button type="button" class="special-btn" (click)="getMinOrMaxDates ('max')">
          Generate
        </button>
      </div>
    </form>

    <div class="cv-scan">
      <button type="button" class="special-btn2" (click)="popup = true">
        Generate CV image
      </button>
      <div class="overlay" *ngIf="popup">
        <div class="popup">
          <img src="../../assets/pictures/mon.gif" alt="CV image" />
          <a class="close" (click)="popup = false">&times;</a>
        </div>
      </div>
    </div>
  </div>

  <div class="item-page-right">
    <img [src]="pendingProduct.images" alt="IMAGE" class="product-img" />
    <div class="page-item-description">
      <textarea>

          {{ pendingProduct["content"] }}
        </textarea>
    </div>
  </div>
</div>
<div class="item-page-btn-container">
  <button type="button" class="btn btn-danger" style="margin-right: 20px" (click)="deletePost(pendingProduct.id)">
    Delete Post
  </button>
  <button type="button" class="btn btn-primary item-page-btn" id="back-to-pending" (click)="onPending()">
    Back to Pending Page
  </button>
  <button type="button" class="btn btn-primary item-page-btn" id="go-to-live" (click)="onProcessed()">
    Submit
  </button>
</div>